@font-face {
    font-family: 's';
    src: url('../Fonts/s.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 's';
    src: url('../Fonts/sbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


* {
    box-sizing: border-box;
    font-family: 's';
}

/*พื้นหลัง*/
    body {
      margin: 0;
      padding: 0;
      background: linear-gradient(to bottom, #80CEC7, #93B8D2);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;   /* จัดให้อยู่กลางแนวตั้ง */
      align-items: center;       /* จัดให้อยู่กลางแนวนอน */
      font-family: 'Sarabun', sans-serif;
    }

/*แถบนำทางด้านบน*/
.header {
    text-align: center;
    padding: 30px 20px;
}

/* Logo AchieveHub */
.logo {
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    /* ให้เว้นระหว่างโลโก้กับปุ่ม */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

}

.nav-container {
    display: flex;
    justify-content: center;
    /* ให้เมนูอยู่กลาง */
    align-items: center;
    gap: 15px;
    /* เว้นช่องว่างระหว่างกรอบปุ่มกับไอคอน */
}

.nav-menu {
    display: inline-flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 40px;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.nav-button {
    text-decoration: none;
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 10px 18px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
    color: #000;
}

.nav-button.active,
.nav-button:hover {
    background: white;
    font-weight: bold;
    color: #37798B;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logout-icon img {
    width: 40px;
    height: 40px;
    border-radius: 27%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


iframe {
    width: 700px;
    height: 700px;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

footer {
    background: rgba(255, 255, 255, 0.25);
    /* สีขาวจาง ๆ */
    backdrop-filter: blur(12px);
    /* ทำให้พื้นหลังเบลอ */
    -webkit-backdrop-filter: blur(12px);
    /* Safari รองรับ */

    text-align: center;
    color: #333;
    font-size: 0.9rem;
    padding: 1.25rem;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
    width: 100%;
}